<h2 class="mt-2">Ingreso Emergencias</h2>
<div class="row">

  <!-- AutoComplete -->
  <div class="form-group mt-3 col-md-12">
    <input type="text" placeholder="Dirección" autocorrect="off" autocapitalize="off" 
        spellcheck="off" class="form-control" #search (ngKeyPress)="onChoseLocation($event)">
   </div>

  <div class="col-md-12">
      <div class="container mt-3">
          <div class="mt-2">
            <app-lista-emergencia-add></app-lista-emergencia-add>
          </div>
        </div>
  </div>
  <div class="col-md-12">
    <!-- Map -->
    <div class="map mt-3 float-right">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)" (mapReady)="addMarker($event)"
        [zoom]="zoom" [disableDefaultUI]="true" [streetViewControl]="false">
          <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'.././assets/firemen.png'" *ngIf="locationChosen"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
