<!-- NavBar-->
<nav id="menustyle" class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF532A;">
  <a class="navbar-brand" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- Navbar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">Bomberos
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/ggmaps']">EMERGENCIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/emergencias']">LISTA DE EMERGENCIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/cuarteles']">CUARTELES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/maquinas']">MÁQUINAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/agenda']">AGENDA</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin" [routerLink]="['/graficos']">GRÁFICOS</a>
        </li>
      <li class="nav-item">
        <a id="cerrar" class="nav-link" *ngIf="isLogin" (click)="onClicklogOut()" [routerLink]="['/login']">Cerrar Sesión
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>