
<form (ngSubmit)="agregarEmergencia()" class="mt-5">
  <select (change)="selectedChangeHandler($event)" placeholder="Tipo de Emergencia" name="tipo_emergencia"
  class="form-control mt-2" [(ngModel)]="emerg.tipo_emergencia">
      <option value="Monday">Monday</option>
      <option value="Mon">Mon</option>
      <option value="day">day</option>
  </select>
  <input type="text" placeholder="Punto de Referencia" name="punto_referencia"
  class="form-control mt-2" [(ngModel)]="emerg.punto_referencia"
  >
  <button class="btn btn-warning mt-3" type="submit" >Agregar</button>
</form>

<input type="date" #myDate [value]="demoUser.date | date:'yyyy-MM-dd'" (input)="demoUser.date=parseDate($event.target.value)" />
