<div class="mt-5">
  <app-lista-maquina></app-lista-maquina>
</div>
<div class="mt-5">
  <app-add-maquina></app-add-maquina>  
</div>

<!-- Colors -->
<div class="mt-5">
  <table>
    <th class="box-color">A</th>
    <tbody>
      <tr>
        <td><button block class="btn btn-primary" (click)="setColor('blue')">B</button></td>
        <td><button block class="btn btn-danger" (click)="setColor('red')">C</button></td>
        <td><button block class="btn btn-success" (click)="setColor('green')">D</button></td>
        <td><button block class="btn btn-warning" (click)="setColor('yellow')">E</button></td>
      </tr>
    </tbody>
  </table>
</div>
