<h2 class="mt-5">Lista de Máquinas</h2>

<div class="text mt-3" *ngFor="let maquina of maquinas | async">
  <ul>
    <li>{{maquina.chofer}}</li>
    <li>{{maquina.cuartel}}</li>
    <li>{{maquina.n_chasis}}</li>
    <li>{{maquina.n_patente}}</li>
    <li>{{maquina.tipo}}</li>
    <li>
      <!-- Estados -->
      <select *ngFor="let e_maq of estado_maquinas | async">
        <option></option>
        <option >{{e_maq.estado[0]}}</option>
        <option >{{e_maq.estado[1]}}</option>
        <option >{{e_maq.estado[2]}}</option>
        <option >{{e_maq.estado[3]}}</option>
      </select>
    </li>
  </ul>
</div>
