
<form (ngSubmit)="agregarMaquina()" class="mt-5">
  <input type="text" placeholder="Código de la Máquina" name="codigo_maquina"
  class="form-control mt-2" [(ngModel)]="datosMaq.codigo_maquina"
  >
  <input type="text" placeholder="Tipo de Máquina" name="tipo_maquina"
  class="form-control mt-2" [(ngModel)]="datosMaq.tipo_maquina"
  >
  <input type="text" placeholder="Cuartel" name="cuartel"
  class="form-control mt-2" [(ngModel)]="datosMaq.cuartel"
  >
  <input type="text" placeholder="Chofer" name="chofer"
  class="form-control mt-2" [(ngModel)]="datosMaq.chofer"
  >
  <button class="btn btn-primary mt-3" type="submit">Agregar Nueva Máquina</button>
  <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">Cerrar</button>
</form>
