
<form (ngSubmit)="agregarMaquina()" class="mt-3" #addMaquinaForm="ngForm" novalidate>

  <label for="form7" class="mt-2">Código de la Máquina</label>
  <input type="text" placeholder="Código de la Máquina" name="codigo_maquina"class="form-control mt-2"
  [(ngModel)]="datosMaq.codigo_maquina" minlength="2" maxlength="5" #codigo_maquina="ngModel" required
  >
  <span *ngIf="!codigo_maquina.valid && codigo_maquina.touched">
    <div [hidden]="!codigo_maquina.errors.required" class="alert alert-danger mt-2">
      Obligatorio
    </div>
    <div [hidden]="!codigo_maquina.errors.minlength" class="alert alert-danger mt-2">
      Minimo 2 caracteres
    </div>
    <div [hidden]="!codigo_maquina.errors.maxlength" class="alert alert-danger mt-2">
      Maximo 5 caracteres
    </div>
  </span>

  <label for="form7" class="mt-2">Tipo de Máquina</label>
  <select (change)="selectedChangeHandler($event)" placeholder="Tipo de Máquina" name="tipo_maquina"
  class="form-control mt-2" [(ngModel)]="datosMaq.tipo_maquina" #tipo_maquina="ngModel" required>
      <option value="2-0 Carro bomba">2-0 Carro bomba</option>
      <option value="2-1 Carro portaescalas">2-1 Carro portaescalas</option>
      <option value="2-2 Carro de rescate">2-2 Carro de rescate</option>
      <option value="2-3 Ambulancia de bomberos">2-3 Ambulancia de bomberos</option>
      <option value="2-4 Carro cisterna">2-4 Carro cisterna</option>
      <option value="2-5 Carro Haz-Mat">2-5 Carro Haz-Mat</option>
      <option value="2-6 Carro específico">2-6 Carro específico</option>
      <option value="2-7 Mecánica telescópica">2-7 Mecánica telescópica</option>
      <option value="2-8 Carro de transporte">2-8 Carro de transporte</option>
      <option value="2-9 Brazo articulado hidráulico o snorkel">2-9 Brazo articulado hidráulico o snorkel</option>
      <option value="2-10 Material mayor con motobomba">2-10 Material mayor con motobomba</option>
      <option value="2-11 Material mayor con grupo electrógeno">2-11 Material mayor con grupo electrógeno</option>
      <option value="2-12 Material mayor con cascada de aire comprimido">2-12 Material mayor con cascada de aire comprimido</option>
      <option value="2-13 Despache al lugar un carro de rescate pesado">2-13 Despache al lugar un carro de rescate pesado</option>
  </select>
  <span *ngIf="!tipo_maquina.valid && tipo_maquina.touched">
    <div [hidden]="!tipo_maquina.errors.required" class="alert alert-danger mt-2">
      Obligatorio
    </div>
  </span>

  <label for="form7" class="mt-2">Compañía</label>
  <input type="text" placeholder="Compania" name="cuartel" class="form-control mt-2" 
  [(ngModel)]="datosMaq.cuartel" minlength="3" maxlength="50" #cuartel="ngModel" required
  >
  <span *ngIf="!cuartel.valid && cuartel.touched">
    <div [hidden]="!cuartel.errors.required" class="alert alert-danger mt-2">
      Obligatorio
    </div>
    <div [hidden]="!cuartel.errors.minlength" class="alert alert-danger mt-2">
      Minimo 3 caracteres
    </div>
    <div [hidden]="!cuartel.errors.maxlength" class="alert alert-danger mt-2">
      Maximo 50 caracteres
    </div>
  </span>

  <label for="form7" class="mt-2">Chofer de la Máquina</label>
  <input type="text" placeholder="Chofer" name="chofer" class="form-control mt-2"
   [(ngModel)]="datosMaq.chofer" minlength="3" maxlength="50" #chofer="ngModel" required
  >
  <span *ngIf="!chofer.valid && chofer.touched">
    <div [hidden]="!chofer.errors.required" class="alert alert-danger mt-2">
      Obligatorio
    </div>
    <div [hidden]="!chofer.errors.minlength" class="alert alert-danger mt-2">
      Minimo 3 caracteres
    </div>
    <div [hidden]="!chofer.errors.maxlength" class="alert alert-danger mt-2">
      Maximo 50 caracteres
    </div>
  </span>

  <button class="btn btn-primary mt-3" type="submit" [disabled]="!addMaquinaForm.valid">Agregar Nueva Máquina</button>
  <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">Cerrar</button>
</form>
